SERVER_PORT=8082

# Option A: full connection string
# DATABASE_URL=postgresql://user:password@host:5432/dbname?sslmode=require&channelBinding=require

# Option B: separate PostgreSQL variables (used if DATABASE_URL is empty)
POSTGRES_HOST=your-postgres-host
POSTGRES_PORT=5432
POSTGRES_DB=your-postgres-db
POSTGRES_USER=your-postgres-user
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_SSLMODE=require
POSTGRES_CHANNEL_BINDING=require

STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_CURRENCY=pen

# Price IDs for default seeded plans (Free, Plus, Pro)
STRIPE_PRICE_FREE=price_xxx_free
STRIPE_PRICE_PLUS=price_xxx_plus
STRIPE_PRICE_PRO=price_xxx_pro

# Kafka (Aiven - principal)
KAFKA_ENABLED=true
KAFKA_BOOTSTRAP_SERVERS=kafka-3e5f04c8-sems-project.k.aivencloud.com:13780
KAFKA_BROKERS=kafka-3e5f04c8-sems-project.k.aivencloud.com:13780
KAFKA_CLIENT_ID=subscriptions-service
KAFKA_USERNAME=avnadmin
KAFKA_PASSWORD=your-aiven-password-here
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISM=SCRAM-SHA-256

# Opcional: custom CA (si tu runtime no confia en la CA de Aiven por defecto)
# KAFKA_CA_CERT_PATH=./certs/aiven-ca.pem
# KAFKA_CA_CERT=-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----

# Opcional para Kafka local
# KAFKA_SECURITY_PROTOCOL=PLAINTEXT
# KAFKA_BOOTSTRAP_SERVERS=localhost:9092
# KAFKA_BROKERS=localhost:9092
