SERVER_PORT=8081
DATABASE_URL=postgresql://user:password@host.neon.tech/dbname?sslmode=require
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=subscriptions-service
